:root {
    --negro: #000;
    --beige: rgb(222, 159, 118);
    --bordo: rgb(94, 0, 18);
    --papiro:#edca9c;
}
* { margin:0;
    padding: 0;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body {
    background-image: url(../MATERIAL/fondo.jpg);
    background-color: var(--papiro);
    background-size: 100vw;
    max-width: 1400px;
    margin: auto;
    font-family: 'EB Garamond', serif;
    font-style: normal;
}
.container {
    width: 80%;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.5); */
}
/* -------------------------- 
            HEADER 
----------------------------- */
header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.musa {
    max-height: 120px;
}
.nav-menu{
    position: relative;
    top: 10px;
}
.nav-menu li{
    display: inline;
    list-style: none;

}
.nav-menu a {
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-style: oblique;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--negro);
    padding: 5px 0;
    margin-right: 45px;
}
.nav-menu a:hover{
    border-bottom: 2px solid var(--negro); 
}
.user {
    max-width: 55px;
    position: relative;
    top: 15px;
}
/* -------------------------- 
            MAIN 
----------------------------- */
.titulo{
    /* background-color: #c6c6c6; */
    width: 70%;
    height: auto;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-align: center;
    margin: auto;
    margin-bottom: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo img{
    height: 156px;
}
.titulo .c-izq{
    width: 45%;
    animation-name: corchete-izq;
    animation-duration: 2s;
    margin: 2.5%;
}
.titulo .c-der{
    width: 45%;
    animation-name: corchete-der;
    animation-duration: 2s;
    margin: 2.5%;
}
.titulo-aparece{
    animation-name: titulo;
    animation-duration: 2s;
    animation-delay: 0.35s;
    animation-fill-mode: forwards; /*que permanezca en el ultimo fotograma*/
    opacity: 0;
}
.titulo li{
    list-style: none;
}
.titulo-principal {
    font-size: 40px;
}
.titulo-secundario{
    font-size: 30px;
    font-weight: 600;
}
/*------------------ SECTION PARRAFO ----------------*/
.principal{
    width: 85%;
    margin: auto;
    text-align: center;
    margin-bottom: 120px;
}
.principal p{
    font-size: 24px;
    font-weight: bold;
}
.principal a{
    color: var(--bordo);
    font-weight: normal;
    text-decoration: none;
    padding: 0 0 2px 0;
}
.principal a:hover{
    border-bottom: 1px solid var(--bordo);
    font-weight: 700;
}
/*------------------ SECTION LIBRO ----------------*/
.libro {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.libro-tinta1{
    width: 60%;
    margin: auto;
}
.tinta2-padre{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 170px;
}
.tinta2-hijo{
    width: 40%;
    height: 40%;
}
.tinta-der{
    position: relative;
    right: 80px;
}
.tinta-izq{
    position: relative;
    left: 80px;
}
.libro-abierto{
    width: 50%;
    margin: auto;
    display: block;
}
/* -------------------------- FOOTER -------------------------- */
footer img {
    width: 5%;
}
footer .redes li {
    display: inline;
    list-style: none;
}

/* -------------------------- KEYFRAMES ------------------------ */
@keyframes corchete-der{
    from {transform: translate(-100%);}
    to {transform: translateX(0%);}
}
@keyframes corchete-izq{
    from {transform: translatex(100%);}
    to {transform: translateX(0%);}
}
@keyframes titulo{
    0% {opacity: 0}
    100% {opacity: 1}
    }
}