:root {
    --negro: #000;
    --beige: rgb(222, 159, 118);
    --bordo: rgb(94, 0, 18);
}
* { margin:0;
    padding: 0;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body {
    background-image: url(../MATERIAL/texturas/textura.png);
    background-size: cover;
    max-width: 1400px;
    font-family: 'EB Garamond', serif;
    font-style: normal;
}
.container {
    width: 80%;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.5); */
}
/* -------------------------- HEADER -------------------------- */
header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.musa {
    max-height: 120px;
}
.nav-menu{
    position: relative;
    top: 10px;
}
.nav-menu li{
    display: inline;
    list-style: none;
    margin-right: 45px;
}
.nav-menu a {
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-style: oblique;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--negro);
}
.nav-menu a:hover{
    
}
.nav-menu img {
    max-width: 55px;
    position: relative;
    top: 15px;
}
/* -------------------------- MAIN -------------------------- */
.titulo{
    /* background-color: #c6c6c6; */
    width: 60%;
    height: auto;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-align: center;
    margin: auto;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo img{
    height: 156px;
}
.titulo .c-izq{
    width: 45%;
    animation-name: corchete-izq;
    animation-duration: 2s;
    margin: 2.5%;
}
.titulo .c-der{
    width: 45%;
    animation-name: corchete-der;
    animation-duration: 2s;
    margin: 2.5%;
}
.titulo-aparece{
    animation-name: titulo;
    animation-duration: 2s;
}
.titulo li{
    list-style: none;
}
.titulo-principal {
    font-size: 35px;
}
.titulo-secundario{
    font-size: 25px;
    font-weight: 600;
}
.principal{
    width: 90%;
    margin: auto;
    text-align: center;
}
.principal p{
    font-size: 24px;
}
.libro-tinta1{
    width: 355px;
    display: flex;
    flex-grow: 1;
    margin: auto;
    display: block;
}
.libro-tinta2 {
    width: 28%;
    margin: auto;
}
.libro-img{
    width: 50%;
    margin: auto;
    display: block;
}
/* -------------------------- FOOTER -------------------------- */
footer img {
    width: 5%;
}
footer .redes li {
    display: inline;
    list-style: none;
}

/* -------------------------- KEYFRAMES ------------------------ */
@keyframes corchete-der{
    from {transform: translate(-100%);}
    to {transform: translateX(0%);}
}
@keyframes corchete-izq{
    from {transform: translatex(100%);}
    to {transform: translateX(0%);}
}
@keyframes titulo{
    0% {visibility: hidden;}
    25% {visibility: hidden;}
    100% {visibility: visible;}
    }
}