.container{
    width: 1000px;
    background-color: coral;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
img{
    height: 176px;
    text-align: center;
    animation-duration: 3s;
}
.izq{
  width: 45%;
  animation-name: desplaz-izq;
  animation-duration: 2s;
  margin: 2.5%;
}
.der{
  width: 45%;
  animation-name: desplaz-der;
  animation-duration: 2s;
  margin: 2.5%;

}
@keyframes desplaz-der{
    from {transform: translate(0%);}
    to {transform: translateX(90%);}
}
@keyframes desplaz-izq{
    from {transform: translate(90%);}
    to {transform: translateX(0%);}
}