:root {
    --negro: #000;
    --beige: rgb(222, 159, 118);
    --marron: hsl(24, 50%, 32%);
    --bordo: rgb(91, 0, 16);
    --rojo: rgb(169, 44, 44);
    --papiro:#fbf6e6;
}
* { margin:0;
    padding: 0;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body {
    background-image: url(../MATERIAL/fondos/hoja-fondo.jpg);
    background-color: var(--papiro);
    /* height: 3000px; You must set a specified height */
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
    font-family: 'EB Garamond', serif;
}
.container {
    width: 100%;
    margin: auto;
    padding: 10px 0;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-image: url(../MATERIAL/fondos/nav-hoja.png);
    background-size: 100%;
    background-position-y: -25px;
    background-repeat: no-repeat;
}
/* -------------------------- 
            HEADER 
----------------------------- */
header {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-style: italic;
}
.musa {
    max-height: 100px;
}
/*------------------ MENU ----------------*/
.nav-menu{
    position: relative;
    top: 10px;
}
.nav-menu li{
    display: inline;
    list-style: none;
    padding: 25px 0;
}
.nav-item a {
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--negro);
    padding-bottom: 22px;
    margin-right: 35px;
    flex-grow: 1;
    flex-direction: row;
}
.nav-item a:hover{
    /* border-bottom: 2px solid var(--negro);  */
    background-image: url(../MATERIAL/hand/hover.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.user {
    max-width: 55px;
    position: relative;
    top: 15px;
}
/*------------------ SUBMENU ----------------*/
.submenu{    
    position: absolute;
    left: 0;
    max-width: 200px;
    width: 100%;
    margin: 25px 0;
    z-index: 1;
}
.desplegable{
    position: relative;
}
.submenu-item{
    display: none;
}
.desplegable:hover .submenu-item{
    display: block;
    padding: 15px 0;
    text-align: center;
    margin: auto;
    background-image: none;
}
.submenu-item:hover{
    color: var(--papiro);
    border-radius: 10px;
    background-color: var(--marron);
    opacity: .75;
}
/* -------------------------- 
            MAIN 
----------------------------- */
/*------------------ SECTION PARRAFO ----------------*/
.principal{
    width: 75vw;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.principal h1{
    font-size: 9vh;
    font-style: italic;
    margin-bottom: 4vh;    
}
.principal p{
    font-size: 3.65vh;
    font-weight: bold;
}
.principal a{
    color: var(--bordo);
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    padding: 0 0 2px 0;
}
.principal h3{
    font-size: 4.5vh;
    color: var(--rojo);
}
.principal a:hover{
    border-bottom: 1px solid var(--marron);
    color: var(--marron);
}
.explicacion{
    width: 70vw;
    font-size: 3.8vh;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}
.explicacion a{
    color: var(--rojo);
    font-weight: bold;
}
.explicacion a:hover{
    text-decoration: none;
}
.ir-ejercicio{
    display: block;
    width: 35vw;
    margin: 0 auto;
    text-align: right;
    padding: 20px 30px;
    background-image: url("../material/hand/opcion4.png");
    background-position-y: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    color: var(--beige);
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 200px;
    position: relative;
    top: 10px;
    animation-name: fadeInUp;
    animation-duration: 4s;
    animation-delay: 0.2s;
}
.ir-ejercicio:hover{
    color: var(--papiro);
    transition-duration: 0.75s;
}
/*------------------ DIVISION ----------------*/
.division{
    margin: 100px auto;
    text-align: center;
}
/* -------------------------- 
            FOOTER 
----------------------------- */
footer{
    height: 200px;
    text-align: center;
}
.redes{
    position: relative;
    top: 75px;
}
.redes img {
    width: 6%;
    margin: 10px 50px;
}
.redes li {
    display: inline;
    list-style: none;
}
.redes a{
    filter: grayscale(1);
    transition: .5s;
}
.redes a:hover{
    filter: grayscale(0);
}

/* -----------------
    KEYFRAMES
    ---------------- */

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeInUp{
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}