@media (max-width: 1600px){
    .cabecera{
        background-size: 100vw;
    }
}
@media (max-width: 1350px){
    .cabecera{
		background-position: top;
	}
	.musa{
        max-height: 105px;
    }
    .nav-item a{
        font-size: 20px;
    }
    .nav-menu li{
        position: relative;
        left: 10px;
    }
    .user{
        max-width: 40px;
    }
    .titulo-principal{
        font-size: 8vh;
    }
    .titulo-secundario{
        font-size: 5vh;
    }
}
@media (max-width: 1150px){
	.musa{
        display: none;
    }
    .nav-menu{
        margin: auto;
    }
    .titulo img{
        height: 120px;
    }
    .titulo-principal{
        font-size: 7vh;
    }
	.titulo-secundario{
        font-size: 4.5vh;
    }
    .principal{
        margin-top: 50px;
    }
    .tinta2-padre{
        left: 10px;
    }
    .sec-libro{
        width: 80%;
        margin: auto;
    }
}
@media (max-width: 900px){
    .nav-item a{
        font-size: 17px;
    }
    .user{
        max-width: 35px;
    }
    .titulo-principal,
	.usuario article{
        font-size: 6vh;
    }
    .titulo-secundario{
        font-size: 3.5vh;
    }
    .tinta2-hijo{
        width: 100%;
    }
    .tinta-der{
        position: relative;
        right: 100px;
    }
    .redes img {
        width: 10%;
        margin: 50px 20px;
    }
    .division-linea{
        width: 80%;
    }
}
@media (max-width: 776px){
    .cabecera{
        background-position-y: bottom;
		background-position-x: initial;
        height: 70vh;
        background-size: cover;
    }
	.musa{
		display: inline;
		margin: 15px;
	}
	.barra-nav{
		flex-wrap: wrap;
		justify-content: center;
	}
	.nav-menu{
		display: flex;
		justify-content: center;
	}
    .nav-item a:hover{
        color: var(--papiro);
        border-radius: 10px;
        background-color: var(--marron);
        opacity: .75;
        background-image: none;
    }
    .titulo,
	.submenu, 
    .desplegable, 
    .desplegable:hover .submenu-item,
    .submenu-item:hover,
    .libro,
    .libro-abierto,
    .user{
        display: none;
    }
    .principal{
        margin-bottom: 100px;
    }
	.principal p{
		font-size: 20px;
	}
    .frase{
        width: 90%;
    }
    .titulo-principal{
        font-size: 2.5em;
    }
    .smooth{
        font-size: 1.5em;
    }
    .pie{
        background-size: cover;
        background-position-y: top;
    }
    footer{
        width: 95%;
    }
    .redes img {
        width: 10%;
        margin: 10px;
    }
}
@media (max-width: 400px){
    header{
        width: 100vw;
    }
    .barra-nav{
        padding-top: 5px;
    }
}